.firstPath,
.secondPath,
.thirdPath {
  transition: all 1s ease;
  transform-origin: center;
  transform-box: fill-box;
}

.opened .firstPath {
  transform: translateY(200%) rotate(45deg);
}

.opened .secondPath {
  transform: translateX(-100%);
  opacity: 0;
}

.opened .thirdPath {
  transform: translateY(-200%) rotate(-45deg);
}
