.deleteAccount {
  font-size: 0.8rem;
}

.deleteAccount span,
.cancel span {
  color: rgba(var(--error-color), 1) !important;
}

.cancel {
  font-size: 1rem;
}

.deleteAccount,
.cancel {
  box-shadow: none;
  border-radius: 0;
  border: 1px solid rgba(var(--error-color), 0.5);
}
