.welcome {
  font-size: 1.2rem;
  color: rgb(var(--option-text-color));
  font-family: var(--another-font-family);
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
}

.editBtn {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.editBtn svg {
  width: 20px;
  height: 20px;
  fill: rgb(var(--third-color));
  vertical-align: middle;
  transition: all 0.3s linear;
}

.logoutButton {
  display: block;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  margin: 10px auto;
  border-radius: 0 20px;
  background-color: rgb(var(--option-text-color), 0.1);
  color: rgba(var(--error-color), 1);
  border: none;
  transition: all 0.4s linear;
  font-weight: bold;
}

.langContainer {
  justify-content: space-around;
  display: flex;
}

.langContainer a {
  display: block;
  text-decoration: none;
  color: rgb(var(--option-text-color));
}

.langContainer .selected {
  text-decoration: underline;
}

.themesTitle {
  display: block;
  padding: 10px;
  text-align: center;
  color: rgb(var(--option-text-color));
}

.adminPage {
  display: block;
  text-decoration: none;
  color: rgb(var(--option-text-color));
  text-align: center;
  padding: 40px;
  background-color: rgba(var(--third-color), 0.3);
  margin-top: 15px;
}

@media (hover: hover) and (pointer: fine) {
  .editBtn:hover svg {
    transform: rotateZ(-60deg);
  }
  .logoutButton:hover {
    border-radius: 0;
  }
}
