.btn {
  padding: 10px 0;
  background-color: transparent;
  width: 20px;
  border: none;
  cursor: pointer;
  fill: rgba(var(--option-text-color), 1);
  transform: rotate(180deg); /* change direction when we are on rtl, default */
}

.btnLtr {
  transform: rotate(0) !important; /* don't rotate when ltr */
}

.btnLtr:hover svg {
  transform: rotate(
    20deg
  ) !important; /* 20deg instead of -20deg when on en lang */
}

.btn svg {
  transition: all 0.2s ease;
}

.btn:hover svg {
  fill: rgba(var(--option-text-color), 0.5);
  transform: rotate(-20deg);
}
