.loadingContainer {
  animation: show 1s ease-in-out forwards;
}

@keyframes show {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.svg {
  margin: auto;
  display: block;
  shape-rendering: auto;
}

.svg rect {
  fill: rgba(var(--third-color), 0.5);
  /* stroke: rgb(var(--option-text-color)); */
}
