.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--shadows-color), 0.7);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(25px);
  padding: 10px;
}

.containerInsideOverlay {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: rgba(var(--second-color), 0.5);
  box-shadow: 0 0 5px 2px rgba(var(--main-color), 0.9),
    0 0 3px 1px rgba(var(--option-text-color));
  padding: 20px;
}
