.post {
  background-color: rgb(var(--second-color));
  min-height: 200px;
  margin-bottom: 20px; /* if changing this, also change the placeholder's margin  */
  color: rgb(var(--option-text-color));
  overflow: hidden;
}

.full {
  padding: 20px;
  border: 20px solid rgb(var(--main-color));
  overflow: auto;
  position: fixed;
  right: var(--aside-width);
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  margin-bottom: 0;
  background-color: rgba(var(--second-color), 0.5);
  backdrop-filter: blur(30px);
}

.full.fullLtr {
  right: 0;
  left: var(--aside-width);
}

.post header {
  display: grid;
  grid-template-columns: calc(100% - 40px) auto;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  gap: 10px;
}

.dateAndTitleContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.date {
  font-size: 0.9rem;
}

.open {
  width: 30px;
  height: 30px;
  padding: 7px;
  transition: padding 0.4s linear;
  background-color: transparent;
  border: none;
}

.btn {
  background-color: transparent;
  border: none;
}

.open svg {
  fill: rgb(var(--option-text-color));
}

.skeletonVideo {
  height: 300px;
  animation: skeleton 1s linear infinite alternate;
}

.skeletonOpen {
  animation: skeleton 1s linear infinite alternate;
}

.skeletonText {
  animation: skeleton 1s linear infinite alternate;
}

.title {
  font-size: 1.5rem;

  /* TODO: limit long text */
}

.skeletonFooter span {
  height: 20px;
  animation: skeleton 1s linear infinite alternate;
  width: 50px;
  border-radius: 40px;
}

.skeletonFooter svg {
  display: none;
}

.post .postImage {
  width: 100%;
  object-fit: cover;
}

.post video {
  display: block;
  width: 100%;
}

.animationStartPoint {
  opacity: 0; /* to prevent glitch when scrolling */
}

.animate {
  animation: post-on-scroll 1s ease-in-out forwards; /* if you change the timing, change the setTimeout in <Post/> too */
}

.likeAndCommentContainer {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 15px 10px;
}

.likeAndCommentContainer > div {
  display: flex;
  gap: 10px;
}

.likeAndCommentContainer > div svg {
  width: 20px;
  height: 20px;
  fill: rgb(var(--option-text-color));
  cursor: pointer;
}

.liked svg {
  fill: rgb(var(--third-color)) !important;
}

.media {
  max-height: 70vh;
}

@keyframes post-on-scroll {
  from {
    opacity: 0;
    transform: translateY(100%) rotateY(80deg);
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes skeleton {
  from {
    opacity: 0.05;
    background-color: rgb(var(--third-color));
  }
  to {
    opacity: 0.2;
    background-color: rgb(var(--third-color));
  }
}

@media (hover: hover) and (pointer: fine) {
  .open:hover {
    padding: 4px;
  }
}

@media screen and (max-width: 900px) {
  .full {
    right: 0;
    padding: 0;
    border-width: 0;
    left: 0 !important;
    bottom: var(--header-height);
  }
}
