.rest {
  background-color: rgb(var(--main-color));
  float: left;
  width: calc(100% - var(--aside-width));
  padding: 8%;
  transition: width 1s ease;
  min-height: 120vh;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .rest {
    width: 100%;
    padding: 0 0 var(--header-height) 0;
  }
}
