@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* for buttons: */
  --darkgreen-second-color: 35, 35, 35;
  --darkgreen-third-color: 109, 207, 102;
  --lightgreen-second-color: 255, 255, 255;
  --lightgreen-third-color: 69, 139, 64;
  --darkblue-second-color: 35, 35, 75;
  --darkblue-third-color: 102, 120, 207;
  --lightblue-second-color: 245, 245, 255;
  --lightblue-third-color: 64, 101, 139;
  /* colors */
  --main-color: 20, 20, 20;
  --second-color: var(--darkgreen-second-color);
  --third-color: var(--darkgreen-third-color);
  --shadows-color: 0, 0, 0;
  --option-text-color: 255, 255, 255;
  --error-color: 244, 67, 54;
  --header-height: 56px;
  --aside-width: 300px;
  /* fonts: */
  --main-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --another-font-family: Roboto, Helvetica, Arial, sans-serif;
  --custom-font-family: "Rubik Dirt", cursive;
  /* --media-query-width: 900px; */ /* doesn't work: https://bholmes.dev/blog/alternative-to-css-variable-media-queries/ */
}

body[data-theme="lightgreen"] {
  --main-color: 240, 240, 240;
  --second-color: var(--lightgreen-second-color);
  --third-color: var(--lightgreen-third-color);
  --shadows-color: 155, 155, 155;
  --option-text-color: 0, 0, 0;
  --error-color: 244, 67, 54;
}

body[data-theme="darkblue"] {
  --main-color: 20, 20, 50;
  --second-color: var(--darkblue-second-color);
  --third-color: var(--darkblue-third-color);
  --shadows-color: 0, 0, 0;
  --option-text-color: 255, 255, 255;
  --error-color: 244, 67, 54;
}

body[data-theme="lightblue"] {
  --main-color: 230, 230, 255;
  --second-color: var(--lightblue-second-color);
  --third-color: var(--lightblue-third-color);
  --shadows-color: 155, 155, 155;
  --option-text-color: 0, 0, 0;
  --error-color: 149, 0, 0;
}

body {
  background-color: rgb(var(--main-color));
  font-family: var(--main-font-family);
  overflow-y: overlay; /* if the scrollbar takes space, opening a post will cause the placeholder to take more width than the actual post. see: https://stackoverflow.com/questions/18548465/prevent-scroll-bar-from-adding-up-to-the-width-of-page-on-chrome */
}

.no-scroll-in-any-screen {
  overflow: hidden;
}

.no-scroll-in-any-screen-due-to-opened-post {
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .no-scroll {
    overflow: hidden;
  }
}

.form {
  color: rgb(var(--option-text-color));
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* for Sign In With Google on ltr - must remove this div  */
#g_a11y_announcement {
  display: none;
}

/* when selecting text etc: */
/* ::-moz-selection {
  background: rgb(var(--main-color));
  color: rgba(var(--third-color), 1);
}
::selection {
  background: rgb(var(--main-color));
  color: rgba(var(--third-color), 0.6);
} */

/* for scrollbar: */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(var(--second-color));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--third-color), 0.6);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--third-color));
}

/* inputs */
.input::placeholder {
  color: transparent; /* hide placeholder, we have formLabel instead */
}

.input:placeholder-shown ~ .formLabel {
  font-size: 16px;
  cursor: text;
  top: 20px;
  user-select: none;
}

.input ~ .formLabel,
.input:focus ~ .formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: rgba(var(--option-text-color), 0.4);
}

.input:focus ~ .formLabel {
  color: rgb(var(--option-text-color));
}

.input:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid rgb(var(--option-text-color));
}
.input ~ .errorLabel {
  color: rgb(var(--error-color));
  font-family: var(--another-font-family);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  margin: 3px 0px 0px;
}

.input:disabled {
  color: rgba(var(--option-text-color), 0.4);
}

/* Change the white to any color */
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(var(--second-color)) inset !important;
}

/*Change text in autofill textbox*/
.input:-webkit-autofill {
  -webkit-text-fill-color: rgb(var(--option-text-color)) !important;
  caret-color: rgb(var(--option-text-color));
}

.invalid {
  animation: shake 0.3s;
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }

  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
