* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --aside-width: 300px;
  --main-color: 20, 20, 20;
  --second-color: 35, 35, 35;
  --third-color: 109, 207, 102;
  --shadows-color: 0, 0, 0;
  --option-text-color: 255, 255, 255;
  --header-height: 56px;
  --error-color: 244, 67, 54;
  /* TODO: select a few font families */
  --main-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --logo-font-family: serif;
  --another-font-family: Roboto, Helvetica, Arial, sans-serif;
  /* --media-query-width: 900px; */ /* doesn't work: https://bholmes.dev/blog/alternative-to-css-variable-media-queries/ */
}

body {
  background-color: rgb(var(--main-color));
  font-family: var(--main-font-family);
}

.no-scroll-in-any-screen {
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .no-scroll {
    overflow: hidden;
  }
}

.form {
  color: rgb(var(--option-text-color));
  display: flex;
  flex-direction: column;

  gap: 10px;
}

#g_a11y_announcement {
  display: none;
}
